<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          {%- if site.location -%}
          <li>
            {{site.location}}
          </li>
          {%- endif -%}

          {%- if site.inception_year -%}
          <li>
            {{site.inception_year}}
          </li>
          {%- endif -%}
          <!--
          <li class="p-name">

            {%- if site.author -%}
            {{ site.author | escape }}
            {%- else -%}
            {{ site.title | escape }}
            {%- endif -%}
          </li> -->
          <!-- TODO: Add this to the socials section -->
          <!-- {%- if site.email -%}
          
          {%- endif -%} -->
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
      </div>
    </div>

  </div>

</footer>